body {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(253, 247, 232);
  color: rgb(54, 34, 34);
}
nav {
  text-decoration: none;
  height: 100px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  color: rgb(54, 34, 34);
}
a {
  font-family: "Boogaloo", cursive;
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: bold;
}
nav a:hover {
  color: black;
  text-shadow: 2px 2px 4px rgb(57, 8, 85);
}
.home-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media screen and (max-width: 1350px) {
  main {
    width: 90%;
    height: 100vh;
    background-size: cover;
  }
  */ .navbar {
    width: 100%;
    background-size: cover;
    height: max-content;
  }
}
