nav {
  text-decoration: none;
  height: 100px;
  padding-top: 25px;

}
a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: black;
  text-shadow: 2px 2px 4px rgb(57, 8, 85);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  margin-left: 350px;
}
button {
  margin-top: 10%;
}
.form-control{
  border-width: 2px; 
  border-color: #ffbe0b;
  background-color: #59189a00;
  width: 100%;
  border-radius: 10%;
}   
input, label {
  font-family: "Open Sans", sans-serif;
  color: #ffbe0b;
}
input {
  color: black;
}
#registerLink {
  font-size: smaller;
}
#registerLink:hover {
  color: black;
  text-shadow: 2px 2px 4px rgb(57, 8, 85);
}
@media only screen and (max-width: 1400px) {
  body {
    background-color: lightblue;
  }
  #background {
    background-image: none;
  }
  form {
    justify-content: center;
  }
}