
body {
  margin-left: 5%;
  margin-right: 5%;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  text-decoration: none;
  height: 100px;
  padding-top: 25px;
}
a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
  font-size: large;
}
nav a:hover {
  color: black;
  text-shadow: 2px 2px 4px rgb(57, 8, 85);
}


.formDiv {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  /* margin-bottom: 10%; */
}
button {
  margin-top: 10%;
}
.form-control {
  border-width: 2px;
  border-color: #ffbe0b;
  background-color: #59189a00;
  width: 100%;
  border-radius: 10%;
}
input,
label {
  font-family: "Open Sans", sans-serif;
  color: #ffbe0b;
}
input {
  color: black;
}
#registerLink {
  font-size: smaller;
}
#registerLink:hover {
  color: black;
  text-shadow: 2px 2px 4px rgb(57, 8, 85);
}

