nav {
  text-decoration: none;
  height: 100px;
  padding-top: 25px;
}
a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: black;
  text-shadow: 2px 2px 4px rgb(57, 8, 85);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 180px;
}
button {
  margin-top: 10%;
  border-color: #5c4d7d;
}
.form-control {
  border-width: 2px;
  border-color: #5c4d7d;
  background-color: #59189a2d;
  width: 100%;
  border-radius: 10%;
}
input,
label {
  font-family: "Open Sans", sans-serif;
  color: #5c4d7d;
}
#loginLink {
  font-size: smaller;
}
#loginLink:hover {
  color: black;
  text-shadow: 2px 2px 4px rgb(57, 8, 85);

}
input {
  color: black;
}
button {
  opacity: 70%;
}
